.modal
    width: 100vw
    height: 100vh
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    z-index: 1000
    background-color: #ffffff75
    &__container
        position: relative
        width: 80vw
        height: 20vh
        background-color: #89898ada
        display: flex
        align-items: center
        justify-content: center
        border: solid 0.4rem #673AB7
        border-radius: 0.5rem
    &__submit
        position: absolute
        bottom: 10%
        right: 10%
    &__title
        width: 90%
        height: 30%
    &__close
        position: absolute
        top: 0
        right: 10%
        font-size: 125%

    