extends ../view/index

include ../results/index


block body
    section.view.search
        h1.search__title Search
        h2.search__user ${name}
        form(method='get' action='${myFavs}')
            button.search__logout My Favs
        form(method='post' action='${logout}')
            button.search__logout Logout
        form.search__form(method='get' action='${path}')
            span.search__icon ðŸ£
            input.search__criteria(type='text' name='query' placeholder='criteria' value= query ? query : '')
            button.search__submit ðŸ”
            if results  
                +results({ items: results, onItemRender: duck => +ResultItem({ item: duck, favPath, detailPath, favList }) }) 
