.detail
    background: #41c4de
    color: whitesmoke
    height: 100vh
    margin: 0
    box-sizing: border-box
.quizTitle
    font-size: 3rem
    font-family: 'Montserrat Alternates', sans-serif
    margin: 0
.startbutton
    font-size: 2rem
    background: whitesmoke
    margin-left: 1rem
    margin-top: 1rem
    border-radius: .4rem