extends ../view/index
block body
    section.view.landing
        h1.landing__title Welcome to Duck App 🐥
        p.landing__options
            | Please, proceed to 
            a(href=register) Register
            |  or 
            a(href=login) Login